.tournament-page {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Arial', sans-serif;
  }
  
  .tournament-heading {
    font-size: 36px;
    margin-bottom: 32px;
    color: #333;
    background-color: rgb(216, 145, 11);
    text-align: center;
  }
  
  .group-container {
    margin-bottom: 30px;
  }
  
  /* .group-heading {
    font-size: 20px;
    margin-bottom: 10px;
    color: black;
    text-align: center;
  } */

  .group-heading {
    font-size: 25px;
    margin-bottom: 20px;
    text-align: center;
    background-color: white;
  }
  .team-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  .team-table th, .team-table td {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
    /* background-color: #f2f2f2; */
  }
  
  .team-table th {
    background-color: #f2f2f2;
    color: red;
  }
  